{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Table Start -->

<div class="col pt-5 pb-0 mt-4" id="tables">
    <div class="component-wrapper rounded shadow">
        <div class="p-4 border-bottom">
            <h4 class="title mb-0"> {{count}} Empresas </h4>
            {% include 'common/alerts.html' %}
        </div>

        <div class="p-4">
            <div class="table-responsive bg-white shadow rounded">
                <table class="table mb-0 table-center">
                    <thead>
                        <tr>
                            <th scope="col">Número de Identificación</th>
                            <th scope="col">Empresa</th>
                            <th scope="col">Simbolo</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for factory in factories %}
                            <tr>
                                <th>{{ factory.identification_number }}</th>
                                <td>{{ factory.name }}</td>
                                <td>{{ factory.symbol }}</td>
                                <td>
                                    <a href="{% url 'factory-update' pk=factory.pk %}"><i class="uil uil-edit-alt"></i></a>
                                </td>
                                <td>
                                    <form action="{% url 'factory-delete' pk=factory.pk %}" method="post">
                                        {% csrf_token %}
                                        <button class="btn" type="submit"><i class="uil uil-trash-alt" type="submit"></i></button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!--end col-->
<!-- Table End -->
{% endblock content%}