{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col pt-5 pb-0 mt-4">
    <form action="#" method="post">
        <div class="container is-fluid">
            {% csrf_token %}
            <div class="field">
                {% include 'common/alerts.html' %}
            </div>
            <div class="field">
                <label class="label">Nombre:</label>
                <div class="control">
                    {{ form.name }}
                </div>
            </div>
            <div class="field">
                <label class="label">Simbolo:</label>
                <div class="control">
                    {{ form.symbol }}
                </div>
            </div>
            <div class="field">
                <label class="label">Descripción:</label>
                <div class="control">
                    {{ form.description }}
                </div>
            </div>
            <div class="modal-footer">
                <a href="{% url 'factory-list' %}" class="btn btn-secondary">Regresar</a>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>
</div>
<!-- Modal Content End -->
{% endblock content%}