{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Flink Valores</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.ico">
        <!-- Bootstrap -->
        <link href= "{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- Icons -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.0/css/line.css">
        <!-- Main Css -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" id="theme-opt" />
        <link href="{% static 'css/colors/cyan.css' %}" rel="stylesheet" id="color-opt">
        {% block extra-head %}{% endblock extra-head %}
    </head>

    <body>

        <!-- Navbar STart -->
        <header id="topnav" class="defaultscroll sticky">
          <div class="container">
              <!-- Logo container-->
              <div>
                  <a class="logo" href="{% url 'factory-list' %}">
                      <img src="https://storage.googleapis.com/bawbam-blog/flink/AF_Logo_black.svg" height="24" alt="">
                  </a>
              </div>

              <div class="buy-button">
                  <a href="{% url 'factory-create' %}" class="btn btn-primary">Registrar Empresa</a>
              </div><!--end login button-->
              <!-- End Logo container-->
              <div class="menu-extras">
                  <div class="menu-item">
                      <!-- Mobile menu toggle-->
                      <a class="navbar-toggle">
                          <div class="lines">
                              <span></span>
                              <span></span>
                              <span></span>
                          </div>
                      </a>
                      <!-- End mobile menu toggle-->
                  </div>
              </div>
          </div><!--end container-->
      </header><!--end header-->
      <!-- Navbar End -->

      {% block content %}{% endblock content %}


      <!-- javascript -->
      <script src="{% static 'js/jquery-3.5.1.min.js'%}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
      <script src="{% static 'js/scrollspy.min.js'%}"></script>
      <!-- Icons -->
      <script src="https://unicons.iconscout.com/release/v2.1.9/script/monochrome/bundle.js"></script>
      <!-- Main Js -->
      <script type="text/javascript">
          setTimeout(function() {
            $('#message').hide()
          }, 4000);
      </script>
      {% block extra-js %}{% endblock %}
    </body>
</html>